<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- Page Wrapper -->
<div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">
    
    <!-- HEADER START -->
    <div class="container py-5">
        <header class="text-center text-white">
            <h1 class="display-4 font-weight-bold mb-4 page-titles">Admin Area</h1>
        </header>
        <!-- HEADER END -->

        <!-- MAIN CONTENT START -->
        <main div class="text-white vh-auto background-transparency">

            <div class="container-fluid">
                <div class="row">
                    <!-- Col 1 -->
                    <div class="col-6">
                        <p class="lead">RESET PASSWORD</p>

                        <form action="/api/user/reset-new-password" method="POST" class="needs-validation" novalidate>
                            <div class="form-control">

                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Enter new password">
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>

                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm new password">
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>

                            </div>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passToken" value="<%= passToken %>">
                            <button type="submit" class="btn btn-success">Set new Password</button>
                        </form>
                    </div>

                    <!-- Col 2 -->
                    <div class="col-6">
                        <p class="lead">
                            A problem with resetting password? Contact Admin Team <a class="active-link" href="/register">here</a>.
                        </p>
                    </div>
                </div>
            </div>

    </div>
    </main>
    <!-- MAIN CONTENT END -->
    <%- include('../includes/end.ejs') %>
</div>
</body>