<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles" >Reset Password</h1>
            </header>
        </div>
        <form action="/api/user/reset-new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passToken" value="<%= passToken %>">
            <button type="submit">Set new Password</button>
        </form>
    </div>
    <%- include('../includes/end.ejs') %>
</body>