<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>
<!-- Page Wrapper -->
<div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">

    <!-- HEADER START -->
    <div class="container py-5">
        <header class="text-center text-white">
            <h1 class="display-4 font-weight-bold mb-4 page-titles">Create Campaign</h1>
        </header>
        <!-- HEADER END -->

        <!-- MAIN CONTENT START -->
        <main div class="text-white vh-auto background-transparency">

            <% if (errorMessage) { %>
            <div class="lead text-center">
                <p class="notice-text"><%= errorMessage%></p>
            </div>
            <% } %>
            <% if (successMessage) { %>
            <div class="lead text-center">
                <p><%= successMessage%></p>
            </div>
            <% } %>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <p class="lead">Create your campaign</p>
                        <form action="/api/user/register" method="POST" class="needs-validation" novalidate>

                            <!-- START DATE -->
                            <div class="form-group">
                                <label for="organisation_name">Start Date:</label>
                                <input type="date" class="form-control" id="start_date"
                                    placeholder="Enter a start date" name="start_date" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- END DATE -->
                            <div class="form-group">
                                <label for="organisation_name">End Date:</label>
                                <input type="date" class="form-control" id="end_date"
                                    placeholder="Enter end date" name="end_date" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- LOCATION -->
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input type="text" class="form-control" id="location"
                                    placeholder="Enter location" name="location" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- PLACE ID -->
                            <div class="form-group">
                                <label for="placeID">Place ID:</label>
                                <input type="number" class="form-control" id="placeID"
                                    placeholder="Enter date of birth" name="placeID" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- NAME -->
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name"
                                    placeholder="Enter date of birth" name="name" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- DESCRIPTION -->
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <input type="text" class="form-control" id="description"
                                    placeholder="Enter date of birth" name="description" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- WEBSITE -->
                            <div class="form-group">
                                <label for="website">Website:</label>
                                <input type="text" class="form-control" id="website"
                                    placeholder="Enter date of birth" name="website" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- RATING -->
                            <div class="form-group">
                                <label for="rating">Rating (1-5):</label>
                                <input type="number" min="1" max="5" class="form-control" id="rating"
                                    placeholder="Enter rating from 1 to 5" name="rating" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>

                            <!-- TYPE -->
                            <div class="form-group">
                                <label for="sel1">Select list (select one):</label>
                                <select class="form-control" id="sel1" name="sellist1">
                                    <option>accommodation</option>
                                    <option>food</option>
                                    <option>daylife</option>
                                    <option>nightlife</option>
                                </select>

                                <!-- COST -->
                                <div class="form-group">
                                    <label for="cost">Cost:</label>
                                    <input type="text" class="form-control" id="cost" placeholder="Enter cost"
                                        name="cost" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>

                                <!-- VIEWS -->
                                <div class="form-group">
                                    <label for="views">Views:</label>
                                    <input type="number" class="form-control" id="views" placeholder="Enter views"
                                        name="views" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>

                                <!-- TOTAL VIEW -->
                                <div class="form-group">
                                    <label for="total_views">Total Views:</label>
                                    <input type="number" class="form-control" id="total_views"
                                        placeholder="Enter view amount" name="total_views" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>

                                <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

    </div>
    </main>
    <!-- MAIN CONTENT END -->

    <%- include('../includes/end.ejs') %>
</div>
</body>