<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <!-- Page Wrapper -->
    <div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">

        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Campaigns</h1>
            </header>
            <!-- HEADER END -->

            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">
                <% if (errorMessage) { %>
                    <div class="lead text-center pb-3">
                        <p class="notice-text-fail"><%= errorMessage%></p>
                    </div>
                    <% } %>
                    <% if (successMessage) { %>
                    <div class="lead text-center pb-3">
                        <p class="notice-text-success"><%= successMessage%></p>
                    </div>
                    <% } %>

                <!-- Welcome and settings row -->
                <div class="row">
                    <div class="col-6">
                        <h3>Welcome back, user.first_name</h3>
                    </div>
                    <div class="col-6 text-right pr-5">
                        <p>
                            <a href="/business-settings">
                                <img src="images/icon-settings2.png" width="10%" height="auto"><br />
                                Settings
                            </a>
                        </p>
                    </div>
                </div>

                <!-- Premium Subscriptions -->
                <div class="row">
                    <div class="col-12">
                        <h3>Active</h3>
                        <table class="table table-hover bg-light">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Generate Amount</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Number of Hits</th>
                                    <th scope="col">Views Per Day</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <th scope="row">5000 hits</th>
                                    <td>01/01/2021</td>
                                    <td>01/01/2022</td>
                                    <td>£75 - <p class="paid">paid</p></td>
                                    <td>2000 users</td>
                                    <td>14 Views</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="pt-3">History</h3>
                        <table class="table table-hover bg-light">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Generate Amount</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Total Price</th>
                                    <th scope="col">Number of Hits</th>
                                    <th scope="col">Views Per Day</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <th scope="row">5000 hits</th>
                                    <td>01/01/2019</td>
                                    <td>01/01/2020</td>
                                    <td>£75 - <p class="paid">paid</p></td>
                                    <td>5000 users</td>
                                    <td>14 views</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        </main>
        <!-- MAIN CONTENT END -->
        <%- include('../includes/end.ejs') %>
    </div>
</body>