<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <!-- Page Wrapper -->
    <div style="background: url(/images/bgimg.jpg)" class="page-holder bg-cover">

        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Campaign ID: <%= campaign.place_id %></h1>
            </header>
            <!-- HEADER END -->

            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6 text-right pr-5">
                        <p>
                            <a href="#" onclick="goBack()">
                                <img src="/images/icon-go-back.png" width="10%" height="auto"><br />
                                Go Back
                            </a>
                        </p>
                    </div>
                </div>

                <!-- Date Information -->
                <h1 class="text-left">Dates:</h1>
                <table class="table table-hover bg-light">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <td><%= campaign.start_date%></td>
                        <td><%= campaign.end_date%></td>
                    </tbody>
                </table>

                <!-- Views Information -->
                <h1 class="text-left">Views:</h1>
                <table class="table table-hover bg-light">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Total Views Purchased</th>
                            <th scope="col">Views for Today</th>
                            <th scope="col">Daily Max View Limit</th>
                            <th scope="col">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <td><%= campaign.total_views %></td>
                        <td><%= campaign.views_today%></td>
                        <td><%= campaign.daily_views_max%></td>
                        <td><%= campaign.cost%></td>
                    </tbody>
                </table>

                <!-- Organisation Information -->
                <h1 class="text-left">Organsation: </h1>
                <table class="table table-hover bg-light">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Company</th>
                            <th scope="col">Campaign Activity</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <td><%= campaign.organisation_name %></td>
                        <td><%= campaign.name%></td>
                        <td><%= campaign.description%></td>
                    </tbody>
                </table>

                <table class="table table-hover bg-light">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Website</th>
                            <th scope="col">Location</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <td><%= campaign.website%></td>
                        <td><%= campaign.location%></td>
                        <td><%= campaign.rating%></td>
                    </tbody>
                </table>




        </div>
    </div>
    </div>
    </main>
    <!-- MAIN CONTENT END -->
    <%- include('../includes/end.ejs') %>
    </div>
</body>