<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- Page Wrapper -->
    <div style="background: url(/images/bgimg.jpg)" class="page-holder bg-cover">
        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Campaign Confirmation
            </header>
            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">
                <% if (errorMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-fail"><%= errorMessage%></p>
                </div>
                <% } %>
                <% if (successMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-success"><%= successMessage%></p>
                </div>
                <% } %>
                <!-- Go Back -->
                <div class="row">
                    <div class="col-6 text-center pl-5">
                        <p class="lead notice-transparency">
                            Please note, it will take around <strong>10 minutes</strong> for your campaign to register
                            into Traffle systems.
                        </p>
                    </div>
                    <div class="col-6 text-right pr-5">
                        <a href="#" onclick="goBack()">
                            <img src="/images/icon-go-back.png" width="10%" height="auto"><br />
                            Go Back
                        </a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 pt-3">
                            <!-- PURCHASE SUMMARY -->
                            <h5 class="text-center">Summary of Purchase</h5>
                            <table class="table table-borderless bg-light rounded">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <h6>Start:</h6>
                                            <h6>End:</h6>
                                            <h6>Purchased Views:</h6>
                                            <h6>Daily View Limit:</h6>
                                            <h6>Location:</h6>
                                            <h6>Type:</h6>
                                        </th>
                                        <th>
                                            <h6><%= campaign.start_date.toLocaleString() %></h6>
                                            <h6><%= campaign.end_date.toLocaleString() %></h6>
                                            <h6><%= campaign.total_views.toLocaleString() %></h6>
                                            <h6><%= campaign.daily_views_max.toLocaleString() %></h6>
                                            <h6><%= campaign.location %></h6>
                                            <h6><%= campaign.type %></h6>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- DISPLAY PRICE -->
                            <table class="table table-borderless bg-light rounded">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <h4 class="text-center">
                                                Total Price:
                                            </h4>
                                        </th>
                                        <th>
                                            <h4 class="formatCurrency">
                                                <%= campaign.cost.toLocaleString() %>
                                            </h4>
                                        </th>
                                        <th class="text-right">
                                            <form method="POST"
                                                action="/campaigns/confirm-campaign/<%= campaign._id %>">
                                                <button type="submit" class="btn btn-success">Accept</button>
                                            </form>
                                        </th>
                                        <th class="text-right">
                                            <form method="POST" action="/campaigns/reject-campaign/<%= campaign._id %>">
                                                <button type="submit" class="btn btn-danger">Reject</button>
                                            </form>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- CREDIT CARD FORM STARTS HERE -->
                            <div class="bg-light p-3 rounded">
                                <div class="panel panel-default credit-card-box">
                                    <div class="panel-heading display-table">
                                        <div class="row display-tr">
                                            <h3 class="panel-title display-td text-center pb-3">
                                                Payment Details
                                            </h3>
                                            <br />
                                            <div class="display-td text-right">
                                                <img class="img-responsive pull-right"
                                                    src="/images/icon-credit-card.png">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- CARD NUMBER -->
                                    <div class="panel-body">
                                        <form role="form" id="payment-form">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group pl-3">
                                                        <label for="cardNumber">CARD NUMBER</label>
                                                        <div class="input-group">
                                                            <input type="tel" class="form-control" name="cardNumber"
                                                                placeholder="Valid Card Number" autocomplete="cc-number"
                                                                required autofocus />
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- EXP DATE -->
                                            <div class="row">
                                                <div class="col-xs-7 col-md-7">
                                                    <div class="form-group">
                                                        <label for="cardExpiry"><span
                                                                class="hidden-xs">EXPIRATION</span><span
                                                                class="visible-xs-inline">EXP</span>
                                                            DATE</label>
                                                        <input type="tel" class="form-control" name="cardExpiry"
                                                            placeholder="MM / YY" autocomplete="cc-exp" required />
                                                    </div>
                                                </div>
                                                <!-- CV CODE -->
                                                <div class="col-xs-5 col-md-5 pull-right">
                                                    <div class="form-group">
                                                        <label for="cardCVC">CV CODE</label>
                                                        <input type="tel" class="form-control" name="cardCVC"
                                                            placeholder="CVC" autocomplete="cc-csc" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- COUPON -->
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group pl-3">
                                                        <label for="couponCode">COUPON CODE</label>
                                                        <input type="text" class="form-control" name="couponCode" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- BUTTON -->
                                            <div class="row">
                                                <div class="col-xs-12 pl-3">
                                                    <button class="btn btn-success btn-lg btn-block" type="submit">
                                                        PAY NOW
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row" style="display:none;">
                                                <div class="col-xs-12">
                                                    <p class="payment-errors"></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- CREDIT CARD FORM ENDS HERE -->
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <!-- Help Section -->
                            <div class="card">
                                <div class="card-header bg-light text-dark">
                                    <img src="/images/icon-info-squared.png" />
                                    More Information
                                </div>
                                <div class="card-body text-dark">
                                    <blockquote class="blockquote mb-0">
                                        <p class="lead">Setting up your exposure</p>
                                        <p>
                                            Once the parameters are set you will be given the total number of
                                            daily views you will receive. This is
                                            a simple calculation of generated amount / number of days = daily
                                            views. For example:
                                        </p>
                                        <p>
                                            5000 / 365 = 14 (13.6, but we round up at Traffle)
                                        </p>
                                        It really is as simple as that. After the details are filled in a
                                        generated price will be displayed
                                        allowing you to accept or reject the price.
                                        After, just fill in the below payment form for a one-time payment
                                        to seal the deal, and have a receipt emailed to your email address.
                                        </p>
                                        <p class="lead">Coupon Code</p>
                                        <p>
                                            Sometimes Traffle does competitions and random goodwill gestures which
                                            may see
                                            the winner obtain a coupon code. Depending on what the event is behind
                                            the coupon
                                            it will see the winner have a reduction in price.
                                        </p>
                                        <footer class="blockquote-footer">Admin <cite title="Source Title">Traffle
                                                Team</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If you're using Stripe for payments -->
                    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
                </div>
            </main>
        </div>
        <%- include('../includes/end.ejs') %>
    </div>
    <script>
        let x = document.querySelectorAll(".formatCurrency");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                .toLocaleString('en');
            x[i].innerHTML = num;
            x[i].classList.add("currSign");
        }
    </script>
</body>