<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>

<body>
    <!-- Page Wrapper -->
    <div style="background: url(/images/bgimg.jpg)" class="page-holder bg-cover">
        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Create Campaign</h1>
            </header>
            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">
                <div class="row">
                    <div class="col-6">
                    </div>
                    <div class="col-6 text-right pr-5">
                        <p>
                            <a href="#" onclick="goBack()">
                                <img src="/images/icon-go-back.png" width="10%" height="auto"><br />
                                Go Back
                            </a>
                        </p>
                    </div>
                </div>
                <% if (errorMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-fail"><%= errorMessage%></p>
                </div>
                <% } %>
                <% if (successMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-success"><%= successMessage%></p>
                </div>
                <% } %>
                <div class="container-fluid">
                    <!-- ROW1 -->
                    <div class="row">
                        <div class="col-6">
                            <form action="/campaigns/create-campaign" method="POST" class="needs-validation" novalidate>
                                <!-- START DATE -->
                                <div class="form-group">
                                    <label for="organisation_name">Start Date :</label>
                                    <input type="date" class="form-control" id="start_date"
                                        placeholder="Enter a start date" name="start_date" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                        </div>
                        <div class="col-6">
                            <!-- END DATE -->
                            <div class="form-group">
                                <label for="organisation_name">End Date:</label>
                                <input type="date" class="form-control" id="end_date" placeholder="Enter end date"
                                    name="end_date" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                    </div>
                    <!-- ROW2 -->
                    <div class="row">
                        <div class="col-6">
                            <!-- NAME -->
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name of business"
                                    name="name" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- WEBSITE -->
                            <div class="form-group">
                                <label for="website">Website:</label>
                                <input type="text" class="form-control" id="website" placeholder="Enter website URL"
                                    name="website" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <!-- LOCATION -->
                            <div class="form-group">
                                <label for="location">Location:</label>
                                <input type="text" class="form-control" id="location" placeholder="Enter location"
                                    name="location" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- ORG NAME -->
                            <div class="form-group">
                                <label for="organisation_name">Organisation Name:</label>
                                <input type="text" class="form-control" id="organisation_name"
                                    placeholder="<%= organisationName %>" name="organisation_name" disabled>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                    </div>
                    <!-- ROW3 -->
                    <div class="row">
                        <div class="col-6">
                            <!-- TOTAL VIEWS -->
                            <div class="form-group">
                                <label for="total_views">Total Views:</label>
                                <input type="number" class="form-control" id="total_views"
                                    placeholder="Enter view amount" name="total_views" required>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- TYPE -->
                            <div class="form-group">
                                <label for="type">Activity Type (select one):</label>
                                <select class="form-control" id="type" name="type">
                                    <option>Accommodation</option>
                                    <option>Food</option>
                                    <option>Daylife</option>
                                    <option>Nightlife</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- ROW4 -->
                    <div class="row">
                        <div class="col-6">
                            <!-- DESCRIPTION -->
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea rows="2" cols="60" class="form-control" id="description" name="description"
                                    required>
                                </textarea>
                                <div class="valid-feedback">Valid.</div>
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- CONFIRM CREATION -->
                            <div class="form-group">
                                <label for="cost">Find out the Cost:</label><br />
                                <button type="submit" class="btn btn-success">Continue...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <%- include('../includes/end.ejs') %>
    </div>
</body>