<%- include('../includes/head.ejs') %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../includes/navigation.ejs') %>
    <div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">
        <div class="container py-5">
            <% if (errorMessage) { %>
                <div><%= errorMessage%></div>
            <% } %>
            <% if (successMessage) { %>
                <div><%= successMessage%></div>
            <% } %>
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles" >Welcome to...</h1>
                <div class="welcome-transparency">
                    <img src="/images/logo_big.png" width="40%" height="40%">
                    <button type="button" class="btn btn-success btn-lg btn-block">DOWNLOAD NOW!</button>
                </div>
            </header>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
</body>