<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>
<!-- Page Wrapper -->
<div style="background: url(images/bgimg.jpg)" class="page-holder bg-cover">

    <!-- HEADER START -->
    <div class="container py-5">
        <header class="text-center text-white">
            <h1 class="display-4 font-weight-bold mb-4 page-titles">Prices</h1>
        </header>
        <!-- HEADER END -->

        <!-- MAIN CONTENT START -->
        <main div class="text-white vh-auto background-transparency">
            <% if (errorMessage) { %>
                <div><%= errorMessage%></div>
            <% } %>
            <% if (successMessage) { %>
                <div><%= successMessage%></div>
            <% } %>
            <h3>How our pricing works</h3>
            <p class="lead">
                Our business is run on a commission-styled model that works fairly for everyone. Each time a user
                books
                through Traffle to visit your place of business via a referal link Traffle earns a commission.
                We do also provide a subscription service for those Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Optio impedit itaque perferendis alias odio nesciunt dolores vel doloribus ipsa,
                est voluptate dolorem labore quos. Hic veritatis expedita cumque pariatur minus.
            </p>

            <h3>Subscription Models</h3>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptatibus similique
                numquam quae molestiae, quas cumque quod, repellendus soluta dicta, expedita dolorum ratione
                voluptatem? Rem minima voluptatem at culpa aliquam.
            </p>

    </div>
    </main>
    <!-- MAIN CONTENT END -->

    <%- include('../includes/end.ejs') %>
</div>
</body>