<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>

<body>
    <!-- Page Wrapper -->
    <div style="background: url(/images/bgimg.jpg)" class="page-holder bg-cover">
        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Prices</h1>
            </header>
            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">
                <% if (errorMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-fail"><%= errorMessage%></p>
                </div>
                <% } %>
                <% if (successMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-success"><%= successMessage%></p>
                </div>
                <% } %>
                <h3>How our pricing works</h3>
                <p class="lead">
                    Our business runs on a "pay per view" model. A "view" counts as each time that your business appears
                    on
                    an itinerary that a user gets randomised. Since we ask the user to specify their interests,
                    conversion
                    rate would be be relatively high because we ensure your business can spread its reach.
                    Prices start at 12p per view.
                </p>
            </main>
        </div>
        <%- include('../includes/end.ejs') %>
    </div>
</body>