<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>

<body>
    <!-- Page Wrapper -->
    <div style="background: url(/images/bgimg.jpg)" class="page-holder bg-cover">
        <!-- HEADER START -->
        <div class="container py-5">
            <header class="text-center text-white">
                <h1 class="display-4 font-weight-bold mb-4 page-titles">Terms and Conditions</h1>
            </header>
            <!-- MAIN CONTENT START -->
            <main div class="text-white vh-auto background-transparency">
                <% if (errorMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-fail"><%= errorMessage%></p>
                </div>
                <% } %>
                <% if (successMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-success"><%= successMessage%></p>
                </div>
                <% } %>
                <!-- Go Back -->
                <div class="row">
                    <div class="col-10 pl-5">
                        <h3>Please read carefully</h3>
                    </div>
                    <div class="col-2 pr-5 text-right">
                        <a href="#" onclick="goBack()">
                            <img src="/images/icon-go-back.png" width="40%" height="auto"><br />
                            Go Back
                        </a>
                    </div>
                </div>
                <p>
                    These terms and conditions govern your access to and use of this mobile application and any other
                    Traffle branded or controlled website or section of a website (including, without limitation, a
                    Traffle Instagram profile or Twitter account) (the 'Mobile application’), any 'Traffle' branded
                    applications (the 'Apps’), and services, features and applications offered by Traffle Ltd (the
                    “Services”) as updated from time to time. Other services or materials operated or provided by
                    Traffle may be subject to other terms and conditions, which will be indicated to you prior to use.
                    These terms and conditions constitute a legal agreement between you and Traffle (the 'Agreement').
                    Please read them carefully before using the Services. By downloading, accessing or using the
                    Services in any way, you are confirming that you have read and understood these terms and conditions
                    and have agreed to be bound by them. Traffle may amend these terms and conditions at any time at its
                    discretion. If these terms and conditions are amended, Traffle shall display the revised terms and
                    conditions on the Services. You will be deemed to have accepted any amendments if you continue using
                    the Services after the amendments are displayed. If you do not agree to comply with these terms and
                    conditions or any amendments to them, please stop using the Services immediately.
                </p>
                <ol>
                    <h4>USE OF THE SERVICES</h4>
                    <ol>
                        <li type="1">Traffle operates and controls the Services and provides them to you in its absolute
                            discretion. </li>
                        <li>In consideration of you agreeing to abide by these terms and conditions, we grant you a
                            non-transferable, non-exclusive license to download, access and use the Services for your
                            own
                            personal, non-commercial purposes and for no other purpose, subject to these terms and
                            conditions and the privacy policy referred to a paragraph 9. </li>
                        <li>Traffle may withdraw or change the Services at any time in its absolute discretion,
                            including,
                            but not limited to, suspending access to the Services, inserting advertising in the Services
                            and
                            limiting the number of flight prices that can be accessed using the Services. </li>
                        <li>In consideration of Traffle permitting you to use the Services, you agree to comply with
                            these
                            terms and conditions. All other uses of the Services other than as set out in these terms
                            and
                            conditions are prohibited. </li>
                    </ol>


                </ol>
                <button type="button" class="btn btn-success" onclick="goBack()">Go Back</button>
            </main>
        </div>
        <%- include('../includes/end.ejs') %>
    </div>
</body>