<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>
<!-- Page Wrapper -->
<div style="background: url(/images/bgimg.jpg)" class="page-holder bg-cover">

    <!-- HEADER START -->
    <div class="container py-5">
        <header class="text-center text-white">
            <h1 class="display-4 font-weight-bold mb-4 page-titles">What we do</h1>
        </header>
        <!-- HEADER END -->

        <!-- MAIN CONTENT START -->
        <main div class="text-white vh-auto background-transparency">
            <% if (errorMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-fail"><%= errorMessage%></p>
                </div>
                <% } %>
                <% if (successMessage) { %>
                <div class="lead text-center pb-3">
                    <p class="notice-text-success"><%= successMessage%></p>
                </div>
                <% } %>
            <h3>Who are we?</h3>
            <p class="lead">
                Traffle is a team of nine Bournemouth University students who are a mixture of software engineers
                and forensic engineers.
                Together, they came together to work on a project that was inspired from the global pandemic by
                allowing people of all areas
                of life have some adventure!
            </p>

            <h3>What is Traffle?</h3>
            <p class="lead">
                Traffle is an application with a simple task... to build our customers a randomised itinerary!
                No matter your location, your interests, or even budget constraints Traffle will aim to cater to
                all.
                Whether you want a day planned out, or a romantic weekend away, no matter where you go Traffle will
                have you covered from restraurants, night clubs, bars, play parks, game shops, experience days the
                list goes on.
            </p>

            <h3>What about me and Traffle?</h3>
            <p class="lead">
                As a business owner it's in your best interests to have your business known by as many as possible.
                Traffle will randomly
                generate an itinerary for 100s of thousands of users with your business being generated with them!
                If you own a boardgame store down by the coast, users of Traffle will be able to discover your
                business
                and come visit.
            </p>

            <h3>Contact Us</h3>
            <p class="lead">
                For any concerns or feedback please email us at <u><a href="mailto: admin@traffle.com">Traffle Team</a></u>!
            </p>

    </div>
    </main>
    <!-- MAIN CONTENT END -->

    <%- include('../includes/end.ejs') %>
</div>
</body>